.container .checkmark:after {
	border: solid white;
}
.container {
	margin-top: 12px;
	display: block;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	top: 2px;
	left: 2px;
	opacity: 0;
	cursor: pointer;
	margin: 0;
	padding: 0;
	transform: scale(0.2);
}
.spantest {
	font-family: 'Montserrat', sans-serif;
	width: 94.7%;
	position: absolute;
	left: 9px;
	bottom: 22px;
	display: flex;
	justify-content: space-between;
	font-size: 17px;
	cursor: default;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: -2px;
	left: -1px;
	height: 22px;
	width: 22px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	border: 1.5px solid rgb(0, 0, 0);
	z-index: 50;
	transition: 0.1s ease-in;
	overflow: hidden;
}

/* On mouse-over, add a grey background color */
.container:active input ~ .checkmark {
	background-color: rgb(207, 180, 207);
	transition: 0.1s ease;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #d746eb;
}
.checkmark2 {
	background: url('https://image.flaticon.com/icons/png/512/5275/5275391.png') 50% / 110% 110% no-repeat;
	background-color: rgb(255, 0, 0);
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 6px;
	top: 1px;
	width: 7px;
	height: 16px;
	border: solid #000;
	border-width: 0 2px 3px 0;
	border-radius: 50%;
	border-top-right-radius:0;
	border-bottom-left-radius: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(40deg);
}
